<html>

{% extends 'base.html.twig' %}

<title>Admin Dashboard</title>

<body>
    <div class="row">
        <div class="col-12">
            <h1>Admin Dashboard</h1>
            <div class="row mt-4">
                <div class="col-md-3">
                    <div class="card text-white bg-primary">
                        <div class="card-body">
                            <h5 class="card-title">Users</h5>
                            <p class="card-text">Manage all users</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card text-white bg-success">
                        <div class="card-body">
                            <h5 class="card-title">Properties</h5>
                            <p class="card-text">Manage all properties</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card text-white bg-warning">
                        <div class="card-body">
                            <h5 class="card-title">Maintenance</h5>
                            <p class="card-text">View maintenance requests</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card text-white bg-info">
                        <div class="card-body">
                            <h5 class="card-title">Reports</h5>
                            <p class="card-text">Financial reports</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>